:root {
  --color-border: #444;
  --color-text: #444;
  --color-text-light: #BBB;
  --color-background: #FFF;
  --color-panel-background: #DDD;

  --size-text-small: 8pt;
  --size-text-normal: 10pt;
  --size-text-section: 12pt;
  --size-text-title: 14pt;

  --size-padding: 6px;
}